body
{
	position: relative;
	background-color: rgb(255, 255, 255);
}
.right-large-container
{
	background-color: white;
}
.jumbotronMy
{
	position: relative;
    border-bottom: thick double black;
    /*overflow: auto;*/
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

::webkit-scrollbar
{
	display: none;
}

.no-selection
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.img-circle
{
	border: 2px solid black;
}

#hire-me-box, .white-box
{
	border: 2px solid;
	border-color: rgb(72, 209, 204);
	border-radius: 10px;

	text-align: left justify;
	margin: auto;
	padding: 20px;
	display: inline-block;
	background-color: white;
	min-width: 100%;
}

.white-skill-box
{
	border: 2px solid;
	border-color: rgb(72, 209, 204);
	border-radius: 10px;
	min-width: 100%;
	text-align: left justify;
	margin: 5px; 
	padding: 10px;
	display: inline-block;
	background-color: white;
}

#left-btn-group
{
	position: absolute;
	bottom: 5%;
	padding-left: 25%;

}

.progress
{
	height: 3px;
}

.social
{
	height: 25px;
	width: 25px;
	background-color: #323131;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
	margin: 2px;
	margin-top: 5px;
	padding: 3px;
}

.social:hover
{
	font-size: 18px;
}
#facebook-icon:hover 
{
    background-color: #3B5998;
}
#googleplus-icon:hover 
{
    background-color:#dd4b39;
}
#linkedin-icon:hover 
{
	background-color:#007bb6;
}
#social-em:hover 
{
    color: #f39c12;
}

#nav-intro, #nav-about, #nav-education, #nav-contact, #nav-skill, #nav-portfolio, #nav-resume, #nav-hire
{
	width: 250px;
	font-size: 100%;
	transition: width .5s;
}
#nav-intro:hover, #nav-about:hover, #nav-education:hover, #nav-contact:hover, #nav-skill:hover, #nav-portfolio:hover, #nav-resume:hover, #nav-hire:hover
{
	width: 190px;
	font-size: 120%;
}
li.nav-active
{
	width: 250px;
	font-size: 120%;
	background-color: rgb(51, 51, 51);
}

li.nav-active a
{
	color: white;
}

#nav-profile-img
{
	width: 300px;
	z-index: 50;
	border-color: black;
}

#front-page-name
{
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Aref Ruqaa', serif;
	font-size: 60px;
}

#front-page-text
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-top: 30px;
}
#job-situation
{
	font-family: 'Aref Ruqaa', serif;
	font-size: 30px;
	font-weight: bold;
	word-spacing: 10px;
}

myspan
{
	color: rgb(206, 165, 37);
	font-size: 66px;
	animation-name: myname-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite; 
}
@keyframes myname-animation
{
	from{color: black;}
	to{color: grey;}
}


@keyframes jumbotron-animation
{
	from {left: 600px;}
	to {left: 0px;}
}
.education-link
{
	color: black;
}
.education-link:link
{
	text-decoration: none;
	text-orientation: italic;
}

.other-link
{
	color: black;
	text-orientation: italic;
	font-style: italic;
}
a.other-link-hire_me
{
	color: red;
	text-orientation: italic;
	font-style: italic;
	animation-name: hire-me-link-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes hire-me-link-animation
{
	from{color: red; /*font-size: 100%*/}
	to{color: black; /*font-size: 105%*/}
}

.other-link:link
{
	text-decoration: none;
}

a.other-link-hire_me:hover
{
	font-size: 102%;
	color: black;
}

.other-link-hire_me:link
{
	color: red;
	text-orientation: italic;
	font-style: italic;
}

h1
{
	font-size: 350%;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2
{
	font-size: 150%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.div-space
{
	height: 60px;
}
.div-space-little
{
	height: 20px;
}

.text-size-medium
{
	font-size: 20px;
}

.even-page
{
	background-color: rgb(255, 255, 255);
}

.odd-page
{
	background-color: rgb(255, 255, 255);
}

.myemail
{
	color: #ff6600;
}
td
{
	text-align: left;
}

#exp-position
{
	font-weight: 100;
	font-style: italic;
	margin-bottom: 0%;
}

#exp-time
{
	font-weight: normal;
}

.timeline-content-item-reveal a img
{
	background-color: white;
	height: 100px;
}

#experience-text
{
	display: none;
}

#master-container
{
	width: 100% ;
	margin: 0px 10px 0px 10px;
	padding: 0px 10px 0px 10px;
	width: inherit;
}

.github-logo
{
	width: 50%;
	height: 50%;
}

.my-grid
{
	margin-top: 10px;
}

#embed-resume
{
	/* height: 520px;
	width: 520px; 
	padding-bottom: 10px; */
	padding-left: 5%;
	padding-right: 5%;
}

.hide-it
{
	visibility: hidden;
}